* {
  font-family: cursives;
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul {
  list-style-type: none;
}

button {
  font-size: 15px;
  font-weight: 800;
  background: rgba(0, 178, 136, 0.8705882353);
  color: #fff;
  border-radius: 5px;
  letter-spacing: 1px;
  border: none;
  cursor: pointer;
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
}

button:hover {
  background-color: #00b288;
}

body {
  background-color: rgba(206, 237, 237, 0.159);
}

a {
  text-decoration: none;
  color: #4c4d5f;
  font-size: 18px;
}

nav {
  position: fixed;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 20px 0;
  z-index: 2;
  background: #fff;
}

main {
  position: absolute;
  top: 90px;
  width: 100%;
  overflow: hidden;
}