.logo {
  border: 1px solid transparent;
}

.fundoBg {
  width: 85%;
  max-width: 100vw; /* Adiciona esta linha */
  height: 100%;
  -webkit-transform: rotate(-25deg);
          transform: rotate(-25deg);
  position: absolute;
  top: -30%;
  right: -10%;
  background-color: rgba(133, 228, 228, 0.085);
  z-index: -5;
  overflow: hidden;
  border: 1px solid transparent;
}

s .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 20px;
}

.menu a {
  margin-right: 20px;
  text-decoration: none;
}

.drop {
  padding: 50px;
  width: 400px;
}

.drop h5 {
  margin-bottom: 8px;
  font-size: 25px;
}

.drop p {
  font-size: 19px;
}

.drop hr {
  margin: 50px 0;
}

.lista {
  width: 350px;
  font-size: 20px;
}

.lista li {
  padding: 20px 0 20px 30px;
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
  cursor: pointer;
}

.lista li:hover {
  background: rgba(240, 240, 240, 0.7); /* Corrigido para usar rgba */
}

/* Estilo para exibir o dropdown ao passar o mouse */
.nav-item:hover .dropdown-menu {
  display: block;
}

.login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  border: 1px solid transparent;
}
.login button {
  padding: 8px 30px;
}
.login #btnLogin {
  color: rgba(0, 178, 136, 0.8705882353);
  background-color: #fff;
  border: 1px solid rgba(0, 178, 136, 0.8705882353);
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
}
.login #btnLogin:hover {
  background-color: #00b288;
  color: #fff;
}