* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


//COR
$btn: #00b288de;
$btn2: #00b288;
$preco: #4c4d5f;
$new: #f8db62;
$borda: 1px solid transparent;

// GLOBAL


// LISTA
ul {
    list-style-type: none;
}
// BOTAO
button {
    font-size: 15px;
    font-weight: 800;
    background: $btn;
    color: #fff;
    border-radius: 5px;
    letter-spacing: 1px;
    border: none;
    cursor: pointer;
    transition: all 0.1s;
}

button:hover {
    background-color: $btn2;
}

//CORPO
body {
    background-color: rgba(206, 237, 237, 0.159);
}

// LINK
a {
    text-decoration: none;
    color: $preco;
    font-size: 18px;
}

// Header 
nav {
    position: fixed;
    width: 100% ;
    display:  flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px 0;
    border: 1px solid blue;
    z-index: 2;
    background: #fff;
}

//MAIN
main {
    position: absolute;
    top: 90px;
    width: 100%;
    overflow: hidden;
}